.ant-skeleton.ant-skeleton-element{
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
  }
  .ant-skeleton-image{
    width:100% !important;
    height: 100% !important; 
  }