.ant-otp.css-dev-only-do-not-override-d2lrxs{
    display: flex !important;
    width: 274px;
}

.ant-input.css-dev-only-do-not-override-d2lrxs.ant-input-outlined.ant-otp-input{
    width:39px;
    height: 39px;
}